---
import Container from "@components/container.astro";
import Hero from "@components/hero.astro";
import Chat from "@components/chat.astro";
import Layout from "@layouts/Layout.astro";
---
<Layout title="">
  <Container>
   <Hero />
   <h1>Demo</h1>
    <Chat client:idle />
    <Hero />
  </Container>
</Layout>
