---
import Container from "@components/container.astro";
import Hero from "@components/hero.astro";
import Window from "@components/device-window.astro";
import Layout from "@layouts/Layout.astro";
---
<Layout title="">
  <Container>
    <h1>Device Window</h1>
    <Window />
  </Container>
</Layout>
