---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Footer from "@components/footer.astro";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import Testimonials from "@components/testimonials.astro";
import FAQ from "@components/faq.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="">
  <Container>
    <div class="mockup-window border bg-base-300">
      <div class="flex justify-center px-4 py-16 bg-base-200">Hello!</div>
    </div>
  </Container>
</Layout>
