---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="">
  <Container>
<h1>hid</h1>
<iframe src="/circle/index.html" style="border:none;" title="Iframe Example"></iframe> 
  </Container>
</Layout>
