---

---
<div>
	<div class="relative mx-auto border-gray-800 dark:border-gray-800 bg-gray-800 border-[16px] rounded-t-xl h-[344px] max-w-[602px] md:h-[588px] md:max-w-[1024px]">
		<div class="rounded-lg overflow-hidden h-[312px] md:h-[556px] bg-white dark:bg-gray-800">
			
			<iframe src="https://oneie.vercel.app/blank" title="ONE" width="1000" height="600"></iframe> 		</div>
	</div>
	<div class="relative mx-auto bg-gray-900 dark:bg-gray-700 rounded-b-xl rounded-t-sm h-[34px] max-w-[702px] md:h-[42px] md:max-w-[1194px]">
		<div class="absolute left-1/2 top-0 -translate-x-1/2 rounded-b-xl w-[112px] h-[10px] md:w-[192px] md:h-[16px] bg-gray-800"></div>
	</div>
</div>