---
import Container from "@components/container.astro";
import Window from "@components/device-window.astro";
import Layout from "@layouts/Layout.astro";
---
<Layout title="">
  <Container>
    <br>
    <h1 class="center">Get Started</h1>
    <Window />
  </Container>
</Layout>
