---
import Container from "@components/container.astro";
---

<div class="background">
  <Container />
  <div class="grid grid-cols-1 md:grid-cols-3 items-center ecommercere-platforms">
    <div>
      <img src="logo-shopify.png" alt="Shopify" />
      <p class="text-2xl font-bold leading-loose text-center text-white">
        Shopify
      </p>
      <p class="text-base leading-normal text-center text-white">
        Connect your Shopify store to send product, collection, customer, cart,
        order and information across all channels as messages.
      </p>
    </div>
    <div>
      <img src="logo-woo.svg" alt="Woo Commerce" />
      <p class="text-2xl font-bold leading-loose text-center text-white">
        WooCommerce
      </p>
      <p class="text-base leading-normal text-center text-white">
        Connect your WooCommerce store to send product, collection, customer,
        cart, order and information across all channels as messages.
      </p>
    </div>
    <div>
      <img src="logo-fb.svg" alt="Social" />
      <p class="text-2xl font-bold leading-loose text-center text-white">
        Social Shopping
      </p>
      <p class="text-base leading-normal text-center text-white">
        Connect your Facebook and Instragram shops to send product, collection,
        customer, cart, order and information across all channels as messages.
      </p>
    </div>
  </div>
  <Container />
</div>
