<footer class="my-20">
  <p class="text-center text-sm">
    Copyright © {new Date().getFullYear()} ONE
  </p>

  <p class="text-center text-xs mt-1">
    <a
      href="/terms"
      class="hover:underline">
      Terms
    </a>
    |
    <a
      href="/privacy"
      class="hover:underline">
      Privacy
    </a>
  </p>
</footer>
