.main-logo-wrapper {
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.innercircle {
  opacity: .85;
}

.companylogo-inner {
  z-index: 5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
  box-shadow: 0 1px 5px 2px rgba(161, 161, 161, .39);
}

.companylogo-inner.webflow {
  top: 82%;
  left: 15%;
}

.companylogo-inner.figma {
  top: 14%;
}

.companylogo-inner.shopify {
  top: auto;
  bottom: 19%;
  left: auto;
  right: -1%;
}

.companylogo-inner.integromat {
  left: 67%;
}

.container {
  height: 100vh;
  max-width: 1280px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.outercircle {
  width: 100%;
  opacity: .9;
}

.midcircle {
  z-index: 0;
  width: 80%;
  opacity: .8;
  position: absolute;
  top: 10%;
  bottom: 0%;
  left: 10%;
  right: 0%;
}

.outer-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
}

.inner-wrapper {
  width: 58%;
  height: 58%;
  object-fit: cover;
  position: absolute;
  top: 21%;
  bottom: 0%;
  left: 21%;
  right: 0%;
}

.mid-wrapper {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.main-logo-background {
  width: 132px;
  height: 132px;
  background-color: #ec5168;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 7%;
  display: flex;
  box-shadow: 0 0 30px 15px rgba(212, 212, 212, .63);
}

.companylogo-outer {
  z-index: 5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
  box-shadow: 0 1px 5px 2px rgba(161, 161, 161, .39);
}

.companylogo-outer.mailchimp {
  top: 30%;
  bottom: auto;
  left: auto;
  right: -2%;
}

.companylogo-outer.zapier {
  top: auto;
  bottom: 35%;
  left: -4%;
  right: auto;
}

.companylogo-outer.bubble {
  top: auto;
  bottom: 13%;
  left: auto;
  right: 6%;
}

.companylogo-outer.airtable {
  top: auto;
  bottom: -1%;
  left: auto;
  right: 62%;
}

.companylogo-outer.memberstack {
  top: 12%;
  left: 9%;
}

.companylogo-outer.react {
  top: 0%;
  bottom: auto;
  left: auto;
  right: 25%;
}

.animation-container {
  width: 420px;
  height: 420px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

@media screen and (max-width: 991px) {
  .midcircle {
    z-index: 0;
  }
}

@media screen and (max-width: 767px) {
  .midcircle {
    width: 100%;
    top: 0%;
    left: 0%;
  }

  .mid-wrapper {
    width: 80%;
    height: 80%;
    object-fit: cover;
    top: 10%;
    left: 10%;
  }

  .main-logo-background {
    padding: 8%;
  }

  .animation-container {
    max-height: 80vw;
    max-width: 80vw;
  }
}

@media screen and (max-width: 479px) {
  .companylogo-inner {
    max-height: 30px;
    max-width: 30px;
  }

  .inner-wrapper {
    width: 62%;
    height: 62%;
    top: 19%;
    left: 19%;
  }

  .main-logo-background {
    width: 40%;
    height: 40%;
    padding: 10%;
    box-shadow: 0 0 20px 10px rgba(212, 212, 212, .63);
  }

  .companylogo-outer {
    max-height: 32px;
    max-width: 32px;
  }

  .animation-container {
    width: 80vw;
    height: 80vw;
  }
}


